html {
	background: #b0dffc;
}

body {
	margin: 0px;
}

#content {
	padding: 5px;
	background: #87cefa;
	box-shadow: 0px 3px 3px #444444;
}

@media (min-width: 1200px) {
	#content {
		margin: 0px 25vw 0px 25vw;
	}
}

h1 {
	text-align: center;
}

h1,h2 {
	font-family: monospace;
}

code {
	background-color: lightgrey;
	border-color: lightgrey solid 3px;
	border-radius: 3px;
	padding: 3px;
	white-space: pre;
}

code.block {
	max-height: 400px;
	overflow-y: scroll;
	display: block;
}

header {
	background-color: #62c1fc;
	top: 0;
	width: 100%;
	position: sticky;
	box-shadow: 0px 3px 3px #444444;
}

header>a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-family: monospace;
	margin-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	position: relative;
	display: inline-block;
}

img {
	max-width: 100%;
}

.hubtitle {
	background-color: #62c1fc;
}
.hubitem {
	display: block;
	color: #000000;
	text-decoration: none;
}
.hubitem:hover {
	background-color: #62c1fc;
}
.hubitem,.hubtitle {
	font-size: 24px;
	border: 1px solid #000000;
	border-radius: 5px;
	margin: 5px;
	padding: 3px;
	display: flex;
	align-items: center;
}
.rightarrow {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border: solid black;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	margin-left: auto;
}
