@%/site/head.html@
@=header Welcome to my awesome blog!@
@=title The blog@

<a href=/blog/blog.rss><img src=/resources/rss.png alt="RSS feed URL"></a>

@$ /site/create-hub.sh $TMP_FILE "blog posts"@
<div style=display:flex>
  <div style=flex:1>@$ cat $PREV_FILE @</div>
  <div style=flex:1;text-align:right>@$ cat $NEXT_FILE @</div>
</div>

@%/site/tail.html@
